<!DOCTYPE html>
<html>
  <head>
    <style>
      body {padding: 20px;}
      input[type='text'] {width: 200px;}
    </style>
  </head>
  <body>
    <div ng-app='myApp'>
      <div ng-controller='FirstCtrl'>
        <input ng-model='data.message' type='text'>
        <h1>{{data.message}}</h1>
      </div>
      <div ng-controller='SecondCtrl'>
        <input ng-model='data.message' type='text'>
        <h1>{{reversedMessage(data.message)}}</h1>
      </div>
    </div>
    <script src='/assets/angular.js'></script>
    <script src='javascripts/example.js'></script>
  </body>
</html>
