!!!
%html
  %head
    :css
      body {padding: 20px;}
  %body
    %h1 Superhero
    %div{'ng-app' => 'superhero'}
      %superman

      %hr

    %script{src: '/assets/angular.js'}
    %script{src: '/angular_templates/javascripts/videos/video_10.js'}
