!!!
%html
  %head
    :css
      body {padding: 20px;}

  %body
    %div{'ng-app' => ''}
      %input{type: 'text', 'ng-model' => 'message'}
      %h1 {{message}}

      %div{'ng-controller' => 'FirstCtrl'}
        %input{type: 'text', 'ng-model' => 'message'}
        %h1 {{message}}

      %div{'ng-controller' => 'SecondCtrl'}
        %input{type: 'text', 'ng-model' => 'message'}
        %h1 {{message}}

    %script{src: 'javascripts/example.js'}
    %script{src: '/assets/angular.js'}
