%h2 Locations

%div{'ng-controller' => 'LocationCtrl'}
  %form{'ng-submit' => 'addLocation()'}
    %input#address_new_string{'ng-model' => 'newLocation.address'}
    %input.btn.btn-primary{type: 'submit', value: 'Add'}
  %ul
    %li{'ng-repeat'=>'location in locations',
      'ng-class' => '{highlight: location == newestLocation}',
      'ng-dblclick' => 'editLocation()'}
      %button.btn.btn-danger{'ng-click' => 'deleteLocation()'} Delete
      %span{'ng-show' => 'location != activeEdit'}
        \{{location.address}}
        %a{href: '{{location.gmap_url}}', target: '_blank' }
          [ map
          %i.icon-map-marker
          \]
      %form{'ng-submit' => 'updateLocation()', 'ng-show' => 'location == activeEdit'}
        %input#address_update_string{'ng-model' => 'tempLocation.address'}
        %a.btn{'ng-click' => 'cancelEdit($event)', href: '#'} Cancel
        %input.btn.btn-primary{type: 'submit', value: 'Update'}
